{% extends "base.twig" %}

{% block content %}
  <article class="o-grid__container | c-single">
    <div class="o-fullwidth-container o-row--reverse | c-single__top | u-padded-l">
      <div class="u-hidden@med">
        <a href="{{ site.url }}">
          {% include 'logo.twig' %}
        </a>
      </div>
      <header class="c-single__header c-shadowbox--negative">
        <div class="c-shadowbox__inner c-borderbox--negative s-darkfield">
          <h1 class="u-align-center u-spacer">{{ post.title }}</h1>
          <ul class="c-rowlist">
            {% if post.get_field('roles') %}
              {% for role in post.get_field('roles') %}
                <li class="c-tag">{{ role.name }}</li>
              {% endfor %}
            {% endif %}
          </ul>
        </div>
      </header>
    </div>
    <div class="o-col o-center | c-single__content">
      {% if post.get_field('description') %}
        {{ post.get_field('description') }}
      {% endif %}
      {% if post.get_field('techs') %}
        <ul class="c-rowlist | u-spacer--lrg">
          {% for tech in post.get_field('techs') %}
          <li class="c-btn-tertiary">{{ tech.name }}</li>
          {% endfor %}
        </ul>
      {% endif %}
      {% if post.get_field('url') or post.get_field('source') %}
      <ul class="o-row | u-spacer">
        {% if post.get_field('url') %}
          <li class="c-btn-minor">
            <a class="c-underline" href="{{ post.get_field('url') }}">View</a>
          </li>
        {% endif %}
        {% if post.get_field('source') %}
          <li class="c-btn-minor">
            <a class="c-underline" href="http://www.github.com/{{ post.get_field('source') }}">Source</a>
          </li>
        {% endif %}
      </ul>
      {% endif %}
      {{ post.content }}
    </div>
  </article>
{% endblock %}

