<div class="o-flex-container t-work-preview">
  <a href="{{ post.link }}">
    <article class="{{ post.class }}">
      <div class="t-work-preview__hgroup">
        <h1>{{ post.title }}</h1>
        {{ post.post_excerpt }}
      </div>
      {% if post.thumbnail %}
        <figure class="c-window t-work-preview__thumbnail">
          <img src="{{ post.thumbnail }}" />
        </figure>
      {% endif %}
    </article>
  </a>
</div>
