<div class="o-fullwidth-container c-darkfield t-work-preview">
  <a href="{{ post.link }}">
    <article class="{{ post.class }}">
      <div class="t-work-preview__hgroup">
        <h1><span class="c-underline">{{ post.title }}</span></h1>
        {{ post.post_excerpt }}
      </div>
      {% if post.thumbnail %}
        <figure class="c-window t-work-preview__thumbnail">
          <img src="{{ post.thumbnail }}" />
        </figure>
      {% endif %}
    </article>
  </a>
</div>
